:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Sorts Mill Goudy", sans-serif;
  --third-family: "Bowlby One SC", sans-serif;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
a,
li,
ul,
p {
  margin: 0;
  padding: 0;
}
section {
  background-image: url(./netflix-background-image\ 1.png);
  /* width: 1440px;
  height: 1096px;
  top: 30px;
  left: -1526px; */
  gap: 0px;
  opacity: 0px;
  background-repeat: no-repeat;
}
.container {
  /* width: 1240px;
  height: 1036px;
  top: 30px;
  left: 100px; */
  gap: 0px;
  opacity: 0px;
}
h1 {
  font-family: Bowlby One SC;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  color: white;
}
span {
  font-family: Bowlby One SC;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ff0000;
}
p {
  font-family: Sorts Mill Goudy;
  font-size: 23px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: #ffffff;
}
form {
  opacity: 0px;
  color: #1a1306;
  text-align: center;
}
label {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  width: 460px;
  height: 94px;
  gap: 0px;
  opacity: 0px;
}
.info input {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #5b5151;
  width: 420px;
  height: 60px;
  padding: 10px;
  border: none;
}
select {
  width: 420px;
  height: 60px;
  padding: 10px;
  border: none;
}
.feedback form {
  width: 420px;
  height: 91px;
}

button {
  border-radius: 50px;
  width: 160px;
  height: 45px;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  text-align: center;
  justify-content: center;
}
button:hover {
  background-color: #941010;
}
